a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6
}
body{
margin: 0;
border-radius: 0;
text-align: center;
font-family: 'Merriweather', serif
}
div{
  background-color:white;
}
h1{
  font-family: 'Sacramento',cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  line-height: 1;
  color: #41aaa8;
}
h2{
  font-family: 'Montserrat',sans-serif;
  font-size: 2.5rem;
  color: #41aaa8;
}
h3{
  font-family: 'Montserrat',sans-serif;
  color: #11999E;
}
hr{
  background-color: none;
  border-top: 10px dotted #d9d9d9;
  border-bottom:0px;
  margin-top:100px;
  margin-bottom: 100px;
  width:4%;
}
p{
  font-weight: normal;
}
.top-container{
  background-color: #d2f3e0;
}
.bottom-container{
  background-color: #d2f3e0;
  margin-top: 25px;
  margin-right: 0px;
  padding:25px;
}
.contact-me{
  background-color: white;
  padding-top: 15px;

}
.cloud2{
  position: absolute;
}
.cloud1{
  position:relative;
  margin-left: 500px;
  padding-top: 100px;
}
.copyright{
  color: #d9d9d9;
  font-size: 0.75rem;
}
.h2skill{
  margin-top:100px;
}
.intro{
  width:50;
  margin: auto;
}
.wedding-pic{
  margin-top: 25px;
  height:225px;
  width: 250px;
  border-radius: 100%
}
.programming{
  height: 25%;
  width: 25%;
  float:left;
  margin-right: 30px;

}
.martial-arts{
  height: 25%;
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill-row{
  width:50%;
  margin: 100px auto 250px auto;
  text-align: left;
  line-height: 2;
}
.btn{

  padding:5px;
  border-radius: 12px;
  background-color: #d9d9d9;
  color: white;
}
.btn:hover{
  padding: 5px;
  border-radius: 12px;
  background-color: #41aaa8;
  color: white;

}
